{% set heroImage = post.get_field('hero_image') %}
{% set heroTitle = post.get_field('hero_title') %}
{% set buttonLink = post.get_field('button_link') %}
{% set mobileBackground = post.get_field('mobile_background') %}
{% set mobileForeground = post.get_field('mobile_foreground') %}
<section class="hero hero-desktop" style="background-image: url({{heroImage}});">
    <h1>{{heroTitle}}</h1>
    <a class="hero-btn" href="{{buttonLink}}">Book a slot</a>
</section>

<section class="hero hero-mobile" style="background-image: url({{mobileBackground}});">
    <h1>{{heroTitle}}</h1>
    <img src="{{mobileForeground}}" alt="sports people"   >
    <a class="hero-btn" href="{{buttonLink}}">Book a slot</a>
    <div class="mob-social">
			{% for slink in options.social_links %}

				{% set  linkicon = TimberImage(slink.link_icon) %}
				{% set  linkicon_alt = linkicon.title ? linkicon.title : linkicon.alt %}		 
				{% set  linkbtn = slink.link_btn %}
					<a  href="{{ linkbtn.url }}"  target="_blank" class="social-icons">
						<img class="img-fluid" src="{{ linkicon }}" alt="{{ linkicon_alt }}">
					</a>
				{% endfor %}
		</div>
</section>